<div class="container-fluid bg-dark d-flex" style="height: 175px;" >

        <div class="ml-5 mt-3">
            <h4>PROGRAMMES</h4>
            <p style="margin-bottom: 4px;">M2PR Training</p>
            <p style="margin-bottom: 4px;">M2PR Speciality</p>
            <p style="margin-bottom: 4px;">M2PR First One</p>
            <p style="margin-bottom: 4px;">M2PR Affiliate</p>
        </div>

        <div class="ml-5 mt-3">
            <h4>ABOUT M2PR</h4>
            <p style="margin-bottom: 4px;">Shop ( en construction ) </p>
            <p style="margin-bottom: 4px;">Blog ( en construction )</p>
            <p style="margin-bottom: 4px;">Tes coachs</p>
            <p style="margin-bottom: 4px;">Contact</p>
        </div>      
        
        <div class="ml-auto mt-3 mr-5">
            
            <img class="mr-4" style="height:20px; color:white;" src="/symm2pr/templates/images/"  alt="">
            <img style="height:20px; color:white;" src="/symm2pr/templates/images/"  alt="">
        </div>
</div>
<div class="container-fluid bg-danger d-flex" style="height: 35px;">
    <div class="row ml-5 mt-1 ">
        <p class="color-white mr-5">@M2PR - 2020</p>
    </div>
</div>