<nav class="navbar navbar-expand-md position-absolute bg-navbar" style="z-index:2">
    <a class="navbar-brand" href="#">
        <img src="/symm2pr/templates/images/logo_m2pr.png" alt="">
    </a>
    <button class="navbar-toggler navbar-light bg-light bg-dark" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mx-auto ">
            <li class="nav-item dropdown ">
                <a class="nav-link dropdown-toggle header-a" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Programmes</a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item header-a2" href="#">M2pr Training</a>
                    <a class="dropdown-item header-a2" href="#">M2pr Speciality</a>
                    <a class="dropdown-item header-a2" href="#">M2pr First One</a>
                <div class="dropdown-divider">
                </div>
                    <a class="dropdown-item header-a2" href="#">M2pr Affiliateeee</a>
                </div>
            </li>
            <li class="nav-item active ml-5 ">
                <a class="nav-link header-a" href="#">Blog</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link header-a" href="#">Shop</a>
            </li>
            <li class="nav-item ml-5">
                <a class="nav-link header-a" href="#">Contact</a>
            </li>
        </ul>
        <a class="btn-blanc btn-radius btn-padding header-btn-a" href="#" type="">Connexion</a>
    </div>
</nav>