.bg-color-gris {
    background-color:#676767 ; 
}

.bg-color-fond {
    background-color: #F9F9F9;
}

.bg-color-noir {
    background-color:#000000 ;
}

.bg-color-rouge1 {
    background-color:#D9000D ;
}
.bg-color-rouge2 {
    background-color:#D9000D ;
    opacity: 0.5;
}
.bg-color-rouge3 {
    background-color:#D9000D ;
    opacity: 0.25;
}
.bg-color-rouge4 {
    background-color:#D9000D ;
    opacity: 0.10;
}

.card-radius {
    -moz-border-radius:  12px 12px 0px 0px;
    -webkit-border-radius:   12px 12px 0px 0px;
    border-radius:  12px 12px 0px 0px;
}

.btn-radius {
    -moz-border-radius:  17px;
    -webkit-border-radius:  17px;
    border-radius: 17px;
}

.btn-principal {
    background-color: #D9000D;
    color: white;
    border : none;
  }
  
.btn-secondaire {
    background-color: white;
    color: #D9000D;
    border: 1px solid #D9000D;
}

.btn-blanc {
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.btn-full-blanc {
    background-color: white;
    color: black;
}
  
  .btn-padding {
      padding: 8px 30px;
  }


.banner-affiliate {
    background-image: url(/symm2pr/templates/images/banner/m2pr-affiliate.png); background-size: cover; height: 395px;
 }

 .banner-coachs {
    background-image: url(/symm2pr/templates/images/banner/coachs.png); background-size: cover; 
 }

/* en dessous de 768px */
.banner-accueil {
   background-image: url(/symm2pr/templates/images/banner/accueil.png); background-size: cover; height: 775px;
}

.bg-navbar {
    background-color: black;
}
/* --------------------*/


@media (min-width: 768px) { 
    .banner-accueil {
        z-index:1; top:-85px; background-image: url(/symm2pr/templates/images/banner/accueil.png); background-size: cover; height: 775px;
        position: relative;
    }

    .bg-navbar {
        background-color: transparent;
    }
}